* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
}
.majt{
    width: 50%;
}
.t{
    animation-delay: 2s;
}
.djatht {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: grey; */
}
img{
    width: 20vw;
}
:root {
    --marquee-width: 17vw;
    --marquee-height: 90vh;
    --marquee-element-displayed: 3;
    --marquee-element-height: calc(var(--marquee-height) / var(--marquee-element-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #ffffff;
    color: white;
    /* border-radius: 35px; */
    overflow: hidden;
    position: relative;
    height: 100%;
}

.marquee::before, .marquee::after {
    position: absolute;
    width: 100%;
    height: 100px;
    content: "";
    z-index: 1;
}
.marquee-content.t {
    animation: scrolling var(--marquee-animation-duration) linear infinite reverse;
}
.marquee::before {
    top: 0;
    background: linear-gradient(to bottom, #ffffff 0%, transparent 100%);
}

.marquee::after {
    bottom: 0;
    background: linear-gradient(to top, #ffffff 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 15em;
    flex-direction: column;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: var(--marquee-element-height);
    font-size: calc(var(--marquee-width) * 2 / 4);
    white-space: nowrap;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-1 * var(--marquee-element-height) * var(--marquee-elements)));
    }
}
.majt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 3em;
}
h1{
    letter-spacing: 3px;
    font-size: 4em;
}
p{
    letter-spacing: 5px;
    position: relative;
    bottom: 2.5em;
}
span{
    font-size: 3em;
    color: rgb(0, 213, 255);
}